[submodule "fullstack-miniprogram"]
	path = fullstack-miniprogram
	url = https://github.com/summerviwox/fullstack-miniprogram.git
[submodule "fullstack-android"]
	path = fullstack-android
	url = https://github.com/summerviwox/fullstack-android.git
[submodule "fullstack-web"]
	path = fullstack-web
	url = https://github.com/summerviwox/fullstack-web.git
